*.py linguist-language=Python
*.xml linguist-language=XML

docs/* linguist-documentation=true
*.md linguist-documentation=true

*.html linguist-detectable=false
*.xml linguist-detectable=false
*.python linguist-detectable=true
